{{>navbar}}
<div class="container-fluid mt-3">
    <div class="row justify-content-around">
        <div class="col-md-5">
            <img src="{{p.fImage}}" style="margin:5px; height:350px; width:350px;" alt="shirt-front" class="img-fluid">
        </div>
        <div class="col-md-5">
            <img src="{{p.bImage}}" style="margin:5px; height:350px; width:350px;" alt="shirt-front" class="img-fluid">
        </div>
    </div>
</div>
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-12">
            <h2>{{p.name}}</h2>
        </div>
        <div class="col-md-6">
            <h3>Our Price: {{p.price}}</h3>
            <h4>Original Retail Price: <strike>{{p.mrp}}</strike></h4>
        </div>
        <div class="col-md-8">
            <h2>Sizes available:</h2>
            <span style="padding:6px; border: solid black 1px; margin:6px;">S</span>
            <span style="padding:6px; border: solid black 1px; margin:6px;">M</span>
            <span style="padding:6px; border: solid black 1px; margin:6px;">L</span>
            <span style="padding:6px; border: solid black 1px; margin:6px;">XL</span>
            <span style="padding:6px; border: solid black 1px; margin:6px;">2XL</span>
            <span style="padding:6px; border: solid black 1px; margin:6px;">3XL</span>
        </div>
        <div class="col-md-6 mt-3">
            <a href="/prod/buy/{{p.id}}"><input class="btn btn-outline-success" value="BUY"></a>
        </div>
    </div>
</div>

{{>productInfo}}

<div class="container-fluid mt-4 mb-4">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <h2>more shirts you may like..</h2>
        </div>
    </div>
</div>

{{>allProducts}}

